@font-face{
  font-family: 'Balqis Script';
  src: local('Balqis Script'), url('../fonts/balqis.woff2') format('woff2'),
  local('Balqis Script'), url('../fonts/balqis.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
