@tablet-width : 1023px;
@mobile-width : 767px;
@font-face {
  font-family: 'Balqis Script';
  src: local("Balqis Script"), url("../fonts/balqis.woff2") format("woff2"), local("Balqis Script"), url("../fonts/balqis.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

/****************
 Box Sizing
 *******************/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.wrapper {
  background-color: #3b181e; }

/*******************
 Core body defaults
 @see https://hankchizljaw.com/wrote/a-modern-css-reset/
 *******************/
body {
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Forum', cursive;
  font-size: 12px;
  line-height: 13px;
  text-transform: uppercase;
  color: #FFFFFF; }

/****************************
 Generic Margins and Paddings
 ****************************/
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
figcaption,
hr,
dl,
dd {
  margin: 0;
  padding: 0; }

a {
  display: inline-block;
  text-decoration: none;
  color: inherit; }

/*******************
 Lists
 *******************/
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

/***********************************
 Easy responsive for media elements
 ***********************************/
img,
svg,
iframe,
video,
object,
embed {
  display: block;
  max-width: 100%; }

/*******************
 The hidden attribute
 *******************/
[hidden] {
  opacity: 0;
  visibility: hidden; }

/*******************
 Tabindex
 *******************/
[tabindex="-1"] {
  outline: none !important; }

/*******************
 Remove animations and transitions
 @see https://hankchizljaw.com/wrote/a-modern-css-reset/
 *******************/
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*!
 * fullPage 3.0.9
 * https://github.com/alvarotrigo/fullPage.js
 *
 * @license GPLv3 for open source use only
 * or Fullpage Commercial License for commercial use
 * http://alvarotrigo.com/fullPage/pricing/
 *
 * Copyright (C) 2018 http://alvarotrigo.com/fullPage - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent; }

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: hidden;
  position: relative; }

.fp-scroller {
  overflow: hidden; }

.iScrollIndicator {
  border: 0 !important; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translate3d(0, -50%, 0); }

#fp-nav.fp-right {
  right: 17px; }

#fp-nav.fp-left {
  left: 17px; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important; }

.fp-slidesNav.fp-bottom {
  bottom: 17px; }

.fp-slidesNav.fp-top {
  top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.fp-slidesNav ul li {
  display: inline-block; }

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px; }

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1; }

#fp-nav ul li .fp-tooltip.fp-right {
  right: 20px; }

#fp-nav ul li .fp-tooltip.fp-left {
  left: 20px; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important; }

/*Only display content to screen readers*/
.fp-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

.header {
  width: 1920px;
  height: 1025px;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  position: relative; }
  .header:after {
    position: absolute;
    content: '';
    width: 1920px;
    height: 75px;
    bottom: -1px;
    left: 0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(3.33%, #3B181E), to(rgba(59, 24, 30, 0)));
    background: linear-gradient(0deg, #3B181E 3.33%, rgba(59, 24, 30, 0) 100%);
    background-repeat: no-repeat; }
  .header__inner {
    padding: 87px 90px 114px 95px; }
  .header__btn {
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.15em;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #FFFFFF;
    padding: 18px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 8px;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .header__btn:hover {
      background-color: #fff;
      font-size: 12px;
      line-height: 13px;
      letter-spacing: 0.15em;
      color: #000000;
      border: none; }

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 167px; }

.header-logo {
  width: 137px;
  height: 47px; }

.header__title-wrapper {
  text-align: center; }

.header__title {
  font-size: 120px;
  line-height: 132px;
  text-align: center;
  letter-spacing: 0.09em;
  margin-bottom: 80px; }

.header__social {
  font-size: 0; }

.header__social-link {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  width: 25px;
  height: 25px;
  font-size: 0; }

.header__social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  margin-top: -13px;
  margin-left: -13px; }
  .header__social-icon:hover {
    fill: #000;
    background-color: #9f4f4f; }

.header__link {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.06em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  right: 97px;
  bottom: 80px;
  height: 0;
  width: 0;
  white-space: nowrap; }
  .header__link:after {
    content: '';
    position: absolute;
    background-image: url("../../img/arrow-down.svg");
    width: 14.42px;
    height: 20.42px;
    top: 0px;
    right: 12px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }

.menu__title {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.06em;
  padding-left: 35px; }

.menu__btn {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  z-index: 5;
  display: inline-block; }

.menu {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.menu__list-wrapper {
  position: fixed;
  width: 1920px;
  height: 1044px;
  text-align: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: #3b181e;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 95px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translateY(-1000%);
          transform: translateY(-1000%);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  overflow: auto; }
  .menu__list-wrapper--active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }

.menu__list-item + .menu__list-item {
  padding-left: 0; }

.menu__list-item {
  margin-bottom: 35px; }
  .menu__list-item:first-child {
    margin-top: auto; }

.menu__btn::before,
.menu__btn::after {
  content: "";
  width: 24px;
  height: 2px;
  background-color: #e0e0e0;
  display: block;
  margin-bottom: 4px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s; }

.menu__btn::after {
  margin-bottom: 0;
  margin-top: 3px;
  width: 16px;
  margin-left: auto; }

.menu__btn-line {
  background-color: #e0e0e0;
  display: block;
  width: 24px;
  height: 2px;
  margin-bottom: 3px;
  opacity: 1;
  -webkit-transition: opacity .6s;
  transition: opacity .6s; }

.menu__btn.menu__btn--active .menu__btn-line {
  opacity: 0;
  -webkit-transition: opacity 0s;
  transition: opacity 0s; }

.menu__btn.menu__btn--active::after {
  width: 24px;
  -webkit-transform: translateY(-6px) rotate(-135deg);
          transform: translateY(-6px) rotate(-135deg); }

.menu__btn.menu__btn--active::before {
  -webkit-transform: translateY(5px) rotate(135deg);
          transform: translateY(5px) rotate(135deg); }

.menu__title {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.06em;
  padding-left: 35px; }

.menu__list-item {
  font-size: 35px;
  line-height: 39px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5); }
  .menu__list-item:hover {
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 0.09em;
    color: #ffffff; }

.catalog {
  padding-top: 187px; }

.catalog__title {
  text-align: center; }
  .catalog__title span {
    font-size: 220px;
    line-height: 243px;
    z-index: 4;
    letter-spacing: 0.06em;
    color: rgba(255, 255, 255, 0.03);
    position: relative;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    display: inline-block; }
  .catalog__title h2 {
    font-size: 30px;
    line-height: 33px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0; }
    .catalog__title h2::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 20px;
      width: 86px;
      height: 2px;
      background-color: #FFFFFF; }

.catalog__list {
  z-index: 5;
  padding-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 205px;
  margin-top: -130px;
  margin-bottom: 170px; }
  .catalog__list .slider-arrows {
    top: 50px;
    opacity: .25; }
  .catalog__list .slick-slide:nth-child(4n + 1) .surf-box {
    margin-top: 32px; }
  .catalog__list .slick-slide:nth-child(4n + 3) .catalog__list-item {
    margin-top: 89px; }
  .catalog__list .slick-current .catalog__list-item__inner-btn {
    display: block; }
  .catalog__list .slick-current .catalog__list-item__inner {
    background: rgba(28, 33, 33, 0.3); }

.catalog__list-item {
  width: 330px;
  height: 450px; }
  .catalog__list-item__wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .catalog__list-item__inner {
    min-height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    -webkit-transition: all .5s;
    transition: all .5s; }
    .catalog__list-item__inner:hover {
      background: rgba(0, 0, 0, 0.6);
      border: 1px solid rgba(255, 255, 255, 0.03); }
      .catalog__list-item__inner:hover .catalog__list-item__inner-title {
        padding-bottom: 90px; }
      .catalog__list-item__inner:hover .catalog__list-item__inner-btn {
        display: block; }

.catalog__list-item__inner-title {
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0.1em;
  padding-left: 20px;
  padding-bottom: 20px; }

.catalog__list-item__inner-btn {
  bottom: 0;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  display: none;
  background: #FFFFFF;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.15em;
  border: none;
  padding: 16px 30px;
  cursor: pointer;
  color: #010001; }

.catalog__list-item__inner-number {
  padding-left: 20px;
  padding-top: 36px;
  font-size: 20px;
  line-height: 22px;
  position: relative; }
  .catalog__list-item__inner-number::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 70px;
    height: 1px;
    background-color: #FFFFFF; }

.sale__inner {
  padding: 0 330px 170px 373px; }

.sale__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.sale__content-info {
  width: 352px; }

.sale__title {
  font-size: 30px;
  line-height: 170%;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
  position: relative; }
  .sale__title::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 86px;
    height: 2px;
    background-color: #FFFFFF; }

.sale__text {
  font-size: 14px;
  line-height: 170%;
  text-transform: none;
  margin-bottom: 45px; }

.sale__btn {
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 0.15em;
  padding: 16px 30px;
  background: #010001;
  color: #FFFFFF;
  border: none; }
  .sale__btn:hover {
    background-color: #fff;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.15em;
    color: #000000;
    border: none; }

.footer__inner {
  min-height: 120px;
  padding: 20px 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid rgba(255, 255, 255, 0.2); }

.footer__list-item {
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
  color: rgba(255, 255, 255, 0.5); }

.footer__list,
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.footer__list {
  padding-top: 20px; }

.footer__social {
  font-size: 0;
  padding: 30px 335px; }

.social-links__item {
  position: relative;
  display: inline-block;
  margin: 0 3px;
  margin-right: 20px;
  width: 25px;
  height: 25px;
  font-size: 0; }
  .social-links__item:hover {
    background-color: #669ec0; }

.social-links__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin-top: -9px;
  margin-left: -9px;
  fill: #ffffff; }
